@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.login-screen {
 
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CBC3E3;
  }
  
   .login-screen__pic {
    width: 910px;
    height: 550px;
    padding: 1.5rem;
    box-shadow: 0px 15px 10px 15px  rgba(0, 0, 0, 0.2);
    background-image: url("img/hello6.jpg");
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap{
    width: 300px;
    height: 400px;
    padding: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: transparent;
    backdrop-filter: blur(29px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   
    
    
  }
  .register-wrap{
    width: 300px;
    padding: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: transparent;
    backdrop-filter: blur(29px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   
    
    
  }
  .forgotpasss-wrap{
    width: 300px;
    height: 290px;
    padding: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: transparent;
    backdrop-filter: blur(29px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   
    
    
  }

  .login-screen__form {
    width: inherit;
    padding: 1.5rem;
    
   /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);*/
    background: transparent;
  }
  
 .login-screen__title {
   color: rgb(175, 166, 166);
   font-family: Raleway;
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .login-screen__forgotpassword {
    font-size: 15px;
    text-align: right;
    display: block;
    margin: 0.6rem 0;
    color: rgb(10, 10, 10);
    font-family: Raleway;


  }
  .texte {
    font-size: 15px;
    font-family: Raleway;
    color: rgb(10, 10, 10);
  }
  .login-screen__subtext1 {
    font-size: 15px;
    font-family: Raleway;
    margin: 0.5rem 0;
    color: rgb(10, 10, 10);
  }
  .login-screen__subtext {
    font-size: 15px;
    font-family: Raleway;
    margin: 0.5rem 0;
    color: white;
  }
 .form-group input{
    background: 0;
    width: 250px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(15, 14, 14, 0.3);
    margin: 10px 0;
    padding-bottom: 10px;
    font-size: 12px;
    background-color: transparent;
    color:rgb(24, 23, 23);
    font-family: Raleway;
  }
  .form-buttn {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background-color: transparent;
    border-color: transparent;
    border: 3px solid #6649b8;
    
    color: #6649b8;
    font-size: 20px;
    font-family: Raleway;
    box-shadow: inset 0 0 0 0 grey;
    transition: ease-out 0.3s;
    position: relative;
    z-index: 1;

  }
  .form-buttn:hover{
    color: thistle;
    cursor: pointer;
    border-radius: 30px;

  }
  .form-buttn::before{
    transition: 0.5s all ease;
    position: absolute;
    border: none;
    outline:none;
    background-color:  #6649b8;
    font-size: 23px;
    color:thistle;
    content: "";
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    border-radius: 30px;


  }
  .form-buttn:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    border-radius: 30px;


  }