.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .information {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  
  }
  
  input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin: 5px;
  
  }
  
   .voyagebtn {
    width: 320px;
    height: 50px;
    margin-top: 15px;
  } 
  
  .voyagebtn:hover {
    cursor: pointer;
  }
  
  .voyages {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .voyagesB {
    background-color: rgb(19, 19, 19);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  
  
  .voyage {
    height: auto;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    padding: 10px;
  }
  
  .voyage h3 {
    margin: 20px;
  }
  .h1 {
    margin: 30px;
  }
  .h1B {
    color: grey;
    margin: 30px;
  }
  .voyage button {
    margin: 20px;
  }
  .voyage__pic {

    
    background-image: url("img/hello20.jpg");
    background-size: cover;
  
    display: flex;

  }